# Advanced `pandas`

In [ ]:
%pylab inline
plt.style.use("bmh")

In [80]:
import numpy as np
import pandas as pd
import re

## Split-apply-combine

In [3]:
titanic_train = pd.read_csv("train.csv", index_col="PassengerId")
titanic_test = pd.read_csv("test.csv", index_col="PassengerId")
titanic = pd.concat([titanic_train, titanic_test], sort=False)

In [4]:
titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Scalar output

In [5]:
class_groups = titanic.groupby("Pclass")

In [6]:
class_groups

In [7]:
class_groups.mean()

        Survived        Age     SibSp     Parch       Fare
Pclass
1       0.629630  39.159930  0.436533  0.365325  87.508992
2       0.472826  29.506705  0.393502  0.368231  21.179196
3       0.242363  24.816367  0.568406  0.400564  13.302889

In [8]:
age_groups = titanic.Parch.groupby((5 + 10*(titanic.Age//10)))

In [9]:
age_groups

In [10]:
age_groups.mean() # Note index name

Age
5.0     1.390244
15.0    0.482517
25.0    0.223837
35.0    0.314655
45.0    0.503704
55.0    0.300000
65.0    0.531250
75.0    0.142857
85.0    0.000000
Name: Parch, dtype: float64

In [11]:
age_groups_npy = titanic.Parch.groupby((5 + 10*(titanic.Age//10)).values)

In [12]:
age_groups_npy.mean()

5.0     1.390244
15.0    0.482517
25.0    0.223837
35.0    0.314655
45.0    0.503704
55.0    0.300000
65.0    0.531250
75.0    0.142857
85.0    0.000000
Name: Parch, dtype: float64

In [13]:
age_groups_multi = titanic.Parch.groupby([(5 + 10*(titanic.Age//10)), titanic.Pclass])

In [14]:
age_groups_multi = titanic.Parch.groupby([titanic.Pclass, (5 + 10*(titanic.Age//10))])

In [15]:
age_groups_multi

In [16]:
age_groups_multi.mean()

Pclass  Age
1       5.0     2.000000
        15.0    0.863636
        25.0    0.480769
        35.0    0.250000
        45.0    0.209677
        55.0    0.369565
        65.0    0.761905
        75.0    0.250000
        85.0    0.000000
2       5.0     1.409091
        15.0    0.310345
        25.0    0.288889
        35.0    0.265625
        45.0    0.451613
        55.0    0.235294
        65.0    0.142857
        75.0    0.000000
3       5.0     1.339286
        15.0    0.445652
        25.0    0.128713
        35.0    0.395833
        45.0    0.976190
        55.0    0.000000
        65.0    0.000000
        75.0    0.000000
Name: Parch, dtype: float64

In [17]:
age_groups_multi.mean().unstack()

Age,5.0,15.0,25.0,35.0,45.0,55.0,65.0,75.0,85.0
Pclass,,,,,,,,,
1,2.000000,0.863636,0.480769,0.250000,0.209677,0.369565,0.761905,0.25,0.0
2,1.409091,0.310345,0.288889,0.265625,0.451613,0.235294,0.142857,0.00,NaN
3,1.339286,0.445652,0.128713,0.395833,0.976190,0.000000,0.000000,0.00,NaN

In [ ]:
age_groups_mixed = titanic.groupby([(5 + 10*(titanic.Age//10)), "Pclass"])

In [ ]:
titanic

In [ ]:
5 + 10*(titanic.Age//10)

In [ ]:
age_groups_mixed.Parch.mean()#.unstack()

In [ ]:
print(age_groups_mixed.Parch.mean())

# Series output

In [42]:
class_groups = titanic.groupby("Pclass") # Nothing is calculated yet

In [53]:
n = titanic.groupby(["Pclass", "Sex"]).Age.mean()

In [56]:
dict(n)

{(1, 'female'): 37.037593984962406,
 (1, 'male'): 41.02927152317881,
 (2, 'female'): 27.499223300970876,
 (2, 'male'): 30.815379746835443,
 (3, 'female'): 22.185328947368422,
 (3, 'male'): 25.962263610315187}

In [77]:
a=titanic[(titanic.Sex == 'male') & (titanic.Pclass == 3)].fillna(0)

In [78]:
a

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S
6,0.0,3,"Moran, Mr. James",male,0.0,0,0,330877,8.4583,0,Q
8,0.0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,0,S
13,0.0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,0,S
14,0.0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,0,S
17,0.0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,0,Q
27,0.0,3,"Emir, Mr. Farred Chehab",male,0.0,0,0,2631,7.2250,0,C
30,0.0,3,"Todoroff, Mr. Lalio",male,0.0,0,0,349216,7.8958,0,S
37,1.0,3,"Mamee, Mr. Hanna",male,0.0,0,0,2677,7.2292,0,C
38,0.0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,0,S
43,0.0,3,"Kraeff, Mr. Theodor",male,0.0,0,0,349253,7.8958,0,C
46,0.0,3,"Rogers, Mr. William John",male,0.0,0,0,S.C./A.4. 23567,8.0500,0,S
47,0.0,3,"Lennon, Mr. Denis",male,0.0,1,0,370371,15.5000,0,Q
49,0.0,3,"Samaan, Mr. Youssef",male,0.0,2,0,2662,21.6792,0,C
51,0.0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,0,S
52,0.0,3,"Nosworthy, Mr. Richard Cater",male,21.0,0,0,A/4. 39886,7.8000,0,S
58,0.0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,0,C
60,0.0,3,"Goodwin, Master. William Frederick",male,11.0,5,2,CA 2144,46.9000,0,S
61,0.0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,0,C
64,0.0,3,"Skoog, Master. Harald",male,4.0,3,2,347088,27.9000,0,S
66,1.0,3,"Moubarek, Master. Gerios",male,0.0,1,1,2661,15.2458,0,C
68,0.0,3,"Crease, Mr. Ernest James",male,19.0,0,0,S.P. 3464,8.1583,0,S
70,0.0,3,"Kink, Mr. Vincenz",male,26.0,2,0,315151,8.6625,0,S
74,0.0,3,"Chronopoulos, Mr. Apostolos",male,26.0,1,0,2680,14.4542,0,C
75,1.0,3,"Bing, Mr. Lee",male,32.0,0,0,1601,56.4958,0,S
76,0.0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
77,0.0,3,"Staneff, Mr. Ivan",male,0.0,0,0,349208,7.8958,0,S
78,0.0,3,"Moutal, Mr. Rahamin Haim",male,0.0,0,0,374746,8.0500,0,S
81,0.0,3,"Waelens, Mr. Achille",male,22.0,0,0,345767,9.0000,0,S
...,...,...,...,...,...,...,...,...,...,...,...
1212,0.0,3,"Andersson, Mr. Johan Samuel",male,26.0,0,0,347075,7.7750,0,S
1213,0.0,3,"Krekorian, Mr. Neshan",male,25.0,0,0,2654,7.2292,F E57,C
1217,0.0,3,"Assam, Mr. Ali",male,23.0,0,0,SOTON/O.Q. 3101309,7.0500,0,S
1224,0.0,3,"Thomas, Mr. Tannous",male,0.0,0,0,2684,7.2250,0,C
1226,0.0,3,"Cor, Mr. Ivan",male,27.0,0,0,349229,7.8958,0,S
1229,0.0,3,"Elias, Mr. Joseph",male,39.0,0,2,2675,7.2292,0,C
1231,0.0,3,"Betros, Master. Seman",male,0.0,0,0,2622,7.2292,0,C
1233,0.0,3,"Lundstrom, Mr. Thure Edvin",male,32.0,0,0,350403,7.5792,0,S
1234,0.0,3,"Sage, Mr. John George",male,0.0,1,9,CA. 2343,69.5500,0,S
1236,0.0,3,"van Billiard, Master. James William",male,0.0,1,1,A/5. 851,14.5000,0,S
1249,0.0,3,"Lockyer, Mr. Edward",male,0.0,0,0,1222,7.8792,0,S
1250,0.0,3,"O'Keefe, Mr. Patrick",male,0.0,0,0,368402,7.7500,0,Q
1252,0.0,3,"Sage, Master. William Henry",male,14.5,8,2,CA. 2343,69.5500,0,S
1255,0.0,3,"Strilic, Mr. Ivan",male,27.0,0,0,315083,8.6625,0,S
1258,0.0,3,"Caram, Mr. Joseph",male,0.0,1,0,2689,14.4583,0,C
1271,0.0,3,"Asplund, Master. Carl Edgar",male,5.0,4,2,347077,31.3875,0,S
1272,0.0,3,"O'Connor, Mr. Patrick",male,0.0,0,0,366713,7.7500,0,Q
1273,0.0,3,"Foley, Mr. Joseph",male,26.0,0,0,330910,7.8792,0,Q
1278,0.0,3,"Aronsson, Mr. Ernst Axel Algot",male,24.0,0,0,349911,7.7750,0,S
1280,0.0,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,0,Q
1281,0.0,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,0,S
1284,0.0,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,0,S
1286,0.0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,0,S
1288,0.0,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,0,Q
1290,0.0,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,0,S
1291,0.0,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,0,Q
1305,0.0,3,"Spector, Mr. Woolf",male,0.0,0,0,A.5. 3236,8.0500,0,S
1307,0.0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,0,S
1308,0.0,3,"Ware, Mr. Frederick",male,0.0,0,0,359309,8.0500,0,S
1309,0.0,3,"Peter, Master. Michael J",male,0.0,1,1,2668,22.3583,0,C

In [72]:
titanic[(titanic.Sex == 'male') & (titanic.Pclass == 3)]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0.0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
8,0.0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
13,0.0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0.0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
17,0.0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
27,0.0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
30,0.0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
37,1.0,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
38,0.0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
43,0.0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
46,0.0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
47,0.0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
49,0.0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
51,0.0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,NaN,S
52,0.0,3,"Nosworthy, Mr. Richard Cater",male,21.0,0,0,A/4. 39886,7.8000,NaN,S
58,0.0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,NaN,C
60,0.0,3,"Goodwin, Master. William Frederick",male,11.0,5,2,CA 2144,46.9000,NaN,S
61,0.0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
64,0.0,3,"Skoog, Master. Harald",male,4.0,3,2,347088,27.9000,NaN,S
66,1.0,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
68,0.0,3,"Crease, Mr. Ernest James",male,19.0,0,0,S.P. 3464,8.1583,NaN,S
70,0.0,3,"Kink, Mr. Vincenz",male,26.0,2,0,315151,8.6625,NaN,S
74,0.0,3,"Chronopoulos, Mr. Apostolos",male,26.0,1,0,2680,14.4542,NaN,C
75,1.0,3,"Bing, Mr. Lee",male,32.0,0,0,1601,56.4958,NaN,S
76,0.0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
77,0.0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
78,0.0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
81,0.0,3,"Waelens, Mr. Achille",male,22.0,0,0,345767,9.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
1212,NaN,3,"Andersson, Mr. Johan Samuel",male,26.0,0,0,347075,7.7750,NaN,S
1213,NaN,3,"Krekorian, Mr. Neshan",male,25.0,0,0,2654,7.2292,F E57,C
1217,NaN,3,"Assam, Mr. Ali",male,23.0,0,0,SOTON/O.Q. 3101309,7.0500,NaN,S
1224,NaN,3,"Thomas, Mr. Tannous",male,NaN,0,0,2684,7.2250,NaN,C
1226,NaN,3,"Cor, Mr. Ivan",male,27.0,0,0,349229,7.8958,NaN,S
1229,NaN,3,"Elias, Mr. Joseph",male,39.0,0,2,2675,7.2292,NaN,C
1231,NaN,3,"Betros, Master. Seman",male,NaN,0,0,2622,7.2292,NaN,C
1233,NaN,3,"Lundstrom, Mr. Thure Edvin",male,32.0,0,0,350403,7.5792,NaN,S
1234,NaN,3,"Sage, Mr. John George",male,NaN,1,9,CA. 2343,69.5500,NaN,S
1236,NaN,3,"van Billiard, Master. James William",male,NaN,1,1,A/5. 851,14.5000,NaN,S
1249,NaN,3,"Lockyer, Mr. Edward",male,NaN,0,0,1222,7.8792,NaN,S
1250,NaN,3,"O'Keefe, Mr. Patrick",male,NaN,0,0,368402,7.7500,NaN,Q
1252,NaN,3,"Sage, Master. William Henry",male,14.5,8,2,CA. 2343,69.5500,NaN,S
1255,NaN,3,"Strilic, Mr. Ivan",male,27.0,0,0,315083,8.6625,NaN,S
1258,NaN,3,"Caram, Mr. Joseph",male,NaN,1,0,2689,14.4583,NaN,C
1271,NaN,3,"Asplund, Master. Carl Edgar",male,5.0,4,2,347077,31.3875,NaN,S
1272,NaN,3,"O'Connor, Mr. Patrick",male,NaN,0,0,366713,7.7500,NaN,Q
1273,NaN,3,"Foley, Mr. Joseph",male,26.0,0,0,330910,7.8792,NaN,Q
1278,NaN,3,"Aronsson, Mr. Ernst Axel Algot",male,24.0,0,0,349911,7.7750,NaN,S
1280,NaN,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
1281,NaN,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
1284,NaN,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
1286,NaN,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
1288,NaN,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
1290,NaN,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
1291,NaN,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [43]:
titanic.Fare.describe()

count    1308.000000
mean       33.295479
std        51.758668
min         0.000000
25%         7.895800
50%        14.454200
75%        31.275000
max       512.329200
Name: Fare, dtype: float64

In [44]:
class_groups.Fare.describe()

        count       mean        std  min      25%      50%       75%       max
Pclass
1       323.0  87.508992  80.447178  0.0  30.6958  60.0000  107.6625  512.3292
2       277.0  21.179196  13.607122  0.0  13.0000  15.0458   26.0000   73.5000
3       708.0  13.302889  11.494358  0.0   7.7500   8.0500   15.2458   69.5500

In [45]:
class_groups.apply(lambda x: x.Fare.describe()) # Note column index name

Fare    count       mean        std  min      25%      50%       75%       max
Pclass
1       323.0  87.508992  80.447178  0.0  30.6958  60.0000  107.6625  512.3292
2       277.0  21.179196  13.607122  0.0  13.0000  15.0458   26.0000   73.5000
3       708.0  13.302889  11.494358  0.0   7.7500   8.0500   15.2458   69.5500

In [22]:
titanic.groupby("Sex").Parch.mean()

Sex
female    0.633047
male      0.247924
Name: Parch, dtype: float64

In [23]:
class_groups.apply(lambda x: x.groupby("Sex").Parch.mean()) # Note column index name

Sex       female      male
Pclass
1       0.472222  0.279330
2       0.650943  0.192982
3       0.731481  0.255578

In [24]:
class_groups.apply(lambda x: x[x.Parch==0].groupby("Sex").size())

Sex     female  male
Pclass
1           97   145
2           61   145
3          135   419

In [25]:
titanic[titanic.Parch!=0].groupby(["Sex", "Embarked"]).size()

Sex     Embarked
female  C            42
        Q             3
        S           128
male    C            32
        Q             6
        S            96
dtype: int64

In [26]:
class_groups.apply(lambda x: x[x.Parch!=0].groupby(["Sex", "Embarked"]).size())

Pclass  Sex     Embarked
1       female  C           21
                S           26
        male    C           18
                S           16
2       female  C            4
                S           41
        male    C            3
                S           23
3       female  C           17
                Q            3
                S           61
        male    C           11
                Q            6
                S           57
dtype: int64

In [27]:
result = (class_groups
          .apply(lambda x: x[x.Parch!=0].groupby(["Sex", "Embarked"]).size())
          .unstack([1,2]))

In [28]:
result

Sex      female        male       female male
Embarked      C     S     C     S      Q    Q
Pclass
1          21.0  26.0  18.0  16.0    NaN  NaN
2           4.0  41.0   3.0  23.0    NaN  NaN
3          17.0  61.0  11.0  57.0    3.0  6.0

In [29]:
result.loc[:, ("female", "C")]

Pclass
1    21.0
2     4.0
3    17.0
Name: (female, C), dtype: float64

In [30]:
for gi, group in class_groups:
    print(group)

             Survived  Pclass  \
PassengerId
2                 1.0       1
4                 1.0       1
7                 0.0       1
12                1.0       1
24                1.0       1
28                0.0       1
31                0.0       1
32                1.0       1
35                0.0       1
36                0.0       1
53                1.0       1
55                0.0       1
56                1.0       1
62                1.0       1
63                0.0       1
65                0.0       1
84                0.0       1
89                1.0       1
93                0.0       1
97                0.0       1
98                1.0       1
103               0.0       1
111               0.0       1
119               0.0       1
125               0.0       1
137               1.0       1
138               0.0       1
140               0.0       1
152               1.0       1
156               0.0       1
...               ...     ...
1200              NaN       1
1206              NaN       1
1208              NaN       1
1215              NaN       1
1216              NaN       1
1219              NaN       1
1223              NaN       1
1227              NaN       1
1235              NaN       1
1242              NaN       1
1247              NaN       1
1248              NaN       1
1256              NaN       1
1260              NaN       1
1263              NaN       1
1264              NaN       1
1266              NaN       1
1267              NaN       1
1270              NaN       1
1282              NaN       1
1283              NaN       1
1287              NaN       1
1289              NaN       1
1292              NaN       1
1294              NaN       1
1295              NaN       1
1296              NaN       1
1299              NaN       1
1303              NaN       1
1306              NaN       1

                                                          Name     Sex   Age  \
PassengerId
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
7                                      McCarthy, Mr. Timothy J    male  54.0
12                                    Bonnell, Miss. Elizabeth  female  58.0
24                                Sloper, Mr. William Thompson    male  28.0
28                              Fortune, Mr. Charles Alexander    male  19.0
31                                    Uruchurtu, Don. Manuel E    male  40.0
32              Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN
35                                     Meyer, Mr. Edgar Joseph    male  28.0
36                              Holverson, Mr. Alexander Oskar    male  42.0
53                    Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.0
55                              Ostby, Mr. Engelhart Cornelius    male  65.0
56                                           Woolner, Mr. Hugh    male   NaN
62                                         Icard, Miss. Amelie  female  38.0
63                                 Harris, Mr. Henry Birkhardt    male  45.0
65                                       Stewart, Mr. Albert A    male   NaN
84                                     Carrau, Mr. Francisco M    male  28.0
89                                  Fortune, Miss. Mabel Helen  female  23.0
93                                 Chaffee, Mr. Herbert Fuller    male  46.0
97                                   Goldschmidt, Mr. George B    male  71.0
98                             Greenfield, Mr. William Bertram    male  23.0
103                                  White, Mr. Richard Frasar    male  21.0
111                             Porter, Mr. Walter Chamberlain    male  47.0
119                                   Baxter, Mr. Quigg Edmond    male  24.0
125                                White, Mr. Percival Wayland    male  54.0
137                               Newsom, Miss. Helen Monypeny  female  19.0
138                                Futrelle, Mr. Jacques Heath    male  37.0
140                                         Giglio, Mr. Victor    male  24.0
152                          Pears, Mrs. Thomas (Edith Wearne)  female  22.0
156                                Williams, Mr. Charles Duane    male  51.0
...                                                        ...     ...   ...
1200                                Hays, Mr. Charles Melville    male  55.0
1206                     White, Mrs. John Stuart (Ella Holmes)  female  55.0
1208                             Spencer, Mr. William Augustus    male  57.0
1215                                        Rowe, Mr. Alfred G    male  33.0
1216                                    Kreuchen, Miss. Emilie  female  39.0
1219               Rosenshine, Mr. George (Mr George Thorne")"    male  46.0
1223                              Dulles, Mr. William Crothers    male  39.0
1227                                  Maguire, Mr. John Edward    male  30.0
1235         Cardeza, Mrs. James Warburton Martinez (Charlo...  female  58.0
1242              Greenfield, Mrs. Leo David (Blanche Strouse)  female  45.0
1247                                  Julian, Mr. Henry Forbes    male  50.0
1248            Brown, Mrs. John Murray (Caroline Lane Lamson)  female  59.0
1256              Harder, Mrs. George Achilles (Dorothy Annan)  female  25.0
1260                   Gibson, Mrs. Leonard (Pauline C Boeson)  female  45.0
1263                                 Wilson, Miss. Helen Alice  female  31.0
1264                                   Ismay, Mr. Joseph Bruce    male  49.0
1266                     Dodge, Mrs. Washington (Ruth Vidaver)  female  54.0
1267                                  Bowen, Miss. Grace Scott  female  45.0
1270                               Hipkins, Mr. William Edward    male  55.0
1282                                Payne, Mr. Vivian Ponsonby    male  23.0
1283            Lines, Mrs. Ernest H (Elizabeth Lindsey James)  female  51.0
1287            Smith, Mrs. Lucien Philip (Mary Eloise Hughes)  female  18.0
1289         Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...  female  48.0
1292                                   Bonnell, Miss. Caroline  female  30.0
1294                            Gibson, Miss. Dorothy Winifred  female  22.0
1295                                    Carrau, Mr. Jose Pedro    male  17.0
1296                              Frauenthal, Mr. Isaac Gerald    male  43.0
1299                                Widener, Mr. George Dunton    male  50.0
1303           Minahan, Mrs. William Edward (Lillian E Thorpe)  female  37.0
1306                              Oliva y Ocana, Dona. Fermina  female  39.0

             SibSp  Parch       Ticket      Fare        Cabin Embarked
PassengerId
2                1      0     PC 17599   71.2833          C85        C
4                1      0       113803   53.1000         C123        S
7                0      0        17463   51.8625          E46        S
12               0      0       113783   26.5500         C103        S
24               0      0       113788   35.5000           A6        S
28               3      2        19950  263.0000  C23 C25 C27        S
31               0      0     PC 17601   27.7208          NaN        C
32               1      0     PC 17569  146.5208          B78        C
35               1      0     PC 17604   82.1708          NaN        C
36               1      0       113789   52.0000          NaN        S
53               1      0     PC 17572   76.7292          D33        C
55               0      1       113509   61.9792          B30        C
56               0      0        19947   35.5000          C52        S
62               0      0       113572   80.0000          B28      NaN
63               1      0        36973   83.4750          C83        S
65               0      0     PC 17605   27.7208          NaN        C
84               0      0       113059   47.1000          NaN        S
89               3      2        19950  263.0000  C23 C25 C27        S
93               1      0  W.E.P. 5734   61.1750          E31        S
97               0      0     PC 17754   34.6542           A5        C
98               0      1     PC 17759   63.3583      D10 D12        C
103              0      1        35281   77.2875          D26        S
111              0      0       110465   52.0000         C110        S
119              0      1     PC 17558  247.5208      B58 B60        C
125              0      1        35281   77.2875          D26        S
137              0      2        11752   26.2833          D47        S
138              1      0       113803   53.1000         C123        S
140              0      0     PC 17593   79.2000          B86        C
152              1      0       113776   66.6000           C2        S
156              0      1     PC 17597   61.3792          NaN        C
...            ...    ...          ...       ...          ...      ...
1200             1      1        12749   93.5000          B69        S
1206             0      0     PC 17760  135.6333          C32        C
1208             1      0     PC 17569  146.5208          B78        C
1215             0      0       113790   26.5500          NaN        S
1216             0      0        24160  211.3375          NaN        S
1219             0      0     PC 17585   79.2000          NaN        C
1223             0      0     PC 17580   29.7000          A18        C
1227             0      0       110469   26.0000         C106        S
1235             0      1     PC 17755  512.3292  B51 B53 B55        C
1242             0      1     PC 17759   63.3583      D10 D12        C
1247             0      0       113044   26.0000          E60        S
1248             2      0        11769   51.4792         C101        S
1256             1      0        11765   55.4417          E50        C
1260             0      1       112378   59.4000          NaN        C
1263             0      0        16966  134.5000      E39 E41        C
1264             0      0       112058    0.0000  B52 B54 B56        S
1266             1      1        33638   81.8583          A34        S
1267             0      0     PC 17608  262.3750          NaN        C
1270             0      0          680   50.0000          C39        S
1282             0      0        12749   93.5000          B24        S
1283             0      1     PC 17592   39.4000          D28        S
1287             1      0        13695   60.0000          C31        S
1289             1      1        13567   79.2000          B41        C
1292             0      0        36928  164.8667           C7        S
1294             0      1       112378   59.4000          NaN        C
1295             0      0       113059   47.1000          NaN        S
1296             1      0        17765   27.7208          D40        C
1299             1      1       113503  211.5000          C80        C
1303             1      0        19928   90.0000          C78        Q
1306             0      0     PC 17758  108.9000         C105        C

[323 rows x 11 columns]
             Survived  Pclass  \
PassengerId
10                1.0       2
16                1.0       2
18                1.0       2
21                0.0       2
22                1.0       2
34                0.0       2
42                0.0       2
44                1.0       2
54                1.0       2
57                1.0       2
59                1.0       2
67                1.0       2
71                0.0       2
73                0.0       2
79                1.0       2
85                1.0       2
99                1.0       2
100               0.0       2
118               0.0       2
121               0.0       2
123               0.0       2
124               1.0       2
134               1.0       2
135               0.0       2
136               0.0       2
145               0.0       2
146               0.0       2
149               0.0       2
150               0.0       2
151               0.0       2
...               ...     ...
1194              NaN       2
1209              NaN       2
1211              NaN       2
1214              NaN       2
1218              NaN       2
1220              NaN       2
1221              NaN       2
1222              NaN       2
1228              NaN       2
1230              NaN       2
1232              NaN       2
1238              NaN       2
1240              NaN       2
1241              NaN       2
1243              NaN       2
1244              NaN       2
1245              NaN       2
1253              NaN       2
1254              NaN       2
1261              NaN       2
1262              NaN       2
1265              NaN       2
1269              NaN       2
1276              NaN       2
1277              NaN       2
1279              NaN       2
1285              NaN       2
1293              NaN       2
1297              NaN       2
1298              NaN       2

                                                          Name     Sex    Age  \
PassengerId
10                         Nasser, Mrs. Nicholas (Adele Achem)  female  14.00
16                            Hewlett, Mrs. (Mary D Kingcome)   female  55.00
18                                Williams, Mr. Charles Eugene    male    NaN
21                                        Fynney, Mr. Joseph J    male  35.00
22                                       Beesley, Mr. Lawrence    male  34.00
34                                       Wheadon, Mr. Edward H    male  66.00
42           Turpin, Mrs. William John Robert (Dorothy Ann ...  female  27.00
44                    Laroche, Miss. Simonne Marie Anne Andree  female   3.00
54           Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...  female  29.00
57                                           Rugg, Miss. Emily  female  21.00
59                                West, Miss. Constance Mirium  female   5.00
67                                Nye, Mrs. (Elizabeth Ramell)  female  29.00
71                                  Jenkin, Mr. Stephen Curnow    male  32.00
73                                        Hood, Mr. Ambrose Jr    male  21.00
79                               Caldwell, Master. Alden Gates    male   0.83
85                                         Ilett, Miss. Bertha  female  17.00
99                        Doling, Mrs. John T (Ada Julia Bone)  female  34.00
100                                          Kantor, Mr. Sinai    male  34.00
118                            Turpin, Mr. William John Robert    male  29.00
121                                Hickman, Mr. Stanley George    male  21.00
123                                       Nasser, Mr. Nicholas    male  32.50
124                                        Webber, Miss. Susan  female  32.50
134              Weisz, Mrs. Leopold (Mathilde Francoise Pede)  female  29.00
135                             Sobey, Mr. Samuel James Hayden    male  25.00
136                                         Richard, Mr. Emile    male  23.00
145                                 Andrew, Mr. Edgardo Samuel    male  18.00
146                               Nicholls, Mr. Joseph Charles    male  19.00
149                   Navratil, Mr. Michel ("Louis M Hoffman")    male  36.50
150                          Byles, Rev. Thomas Roussel Davids    male  42.00
151                                 Bateman, Rev. Robert James    male  51.00
...                                                        ...     ...    ...
1194                               Phillips, Mr. Escott Robert    male  43.00
1209                                Rogers, Mr. Reginald Harry    male  19.00
1211                              Jefferys, Mr. Ernest Wilfred    male  22.00
1214                                        Nesson, Mr. Israel    male  26.00
1218                              Becker, Miss. Ruth Elizabeth  female  12.00
1220                             Clarke, Mr. Charles Valentine    male  29.00
1221                                       Enander, Mr. Ingvar    male  21.00
1222         Davies, Mrs. John Morgan (Elizabeth Agnes Mary...  female  48.00
1228                                de Brito, Mr. Jose Joaquim    male  32.00
1230                                      Denbury, Mr. Herbert    male  25.00
1232                             Fillbrook, Mr. Joseph Charles    male  18.00
1238                                Botsford, Mr. William Hull    male  26.00
1240                                          Giles, Mr. Ralph    male  24.00
1241                                    Walcroft, Miss. Nellie  female  31.00
1243                                 Stokes, Mr. Philip Joseph    male  25.00
1244                                       Dibden, Mr. William    male  18.00
1245                                        Herman, Mr. Samuel    male  49.00
1253                   Mallet, Mrs. Albert (Antoinette Magnin)  female  24.00
1254              Ware, Mrs. John James (Florence Louise Long)  female  31.00
1261                             Pallas y Castello, Mr. Emilio    male  29.00
1262                                          Giles, Mr. Edgar    male  21.00
1265                                    Harbeck, Mr. William H    male  44.00
1269                              Cotterill, Mr. Henry Harry""    male  21.00
1276                            Wheeler, Mr. Edwin Frederick""    male    NaN
1277                                        Herman, Miss. Kate  female  24.00
1279                                           Ashby, Mr. John    male  57.00
1285                                      Gilbert, Mr. William    male  47.00
1293                                           Gale, Mr. Harry    male  38.00
1297              Nourney, Mr. Alfred (Baron von Drachstedt")"    male  20.00
1298                                 Ware, Mr. William Jeffery    male  23.00

             SibSp  Parch           Ticket     Fare Cabin Embarked
PassengerId
10               1      0           237736  30.0708   NaN        C
16               0      0           248706  16.0000   NaN        S
18               0      0           244373  13.0000   NaN        S
21               0      0           239865  26.0000   NaN        S
22               0      0           248698  13.0000   D56        S
34               0      0       C.A. 24579  10.5000   NaN        S
42               1      0            11668  21.0000   NaN        S
44               1      2    SC/Paris 2123  41.5792   NaN        C
54               1      0             2926  26.0000   NaN        S
57               0      0       C.A. 31026  10.5000   NaN        S
59               1      2       C.A. 34651  27.7500   NaN        S
67               0      0       C.A. 29395  10.5000   F33        S
71               0      0       C.A. 33111  10.5000   NaN        S
73               0      0     S.O.C. 14879  73.5000   NaN        S
79               0      2           248738  29.0000   NaN        S
85               0      0       SO/C 14885  10.5000   NaN        S
99               0      1           231919  23.0000   NaN        S
100              1      0           244367  26.0000   NaN        S
118              1      0            11668  21.0000   NaN        S
121              2      0     S.O.C. 14879  73.5000   NaN        S
123              1      0           237736  30.0708   NaN        C
124              0      0            27267  13.0000  E101        S
134              1      0           228414  26.0000   NaN        S
135              0      0       C.A. 29178  13.0000   NaN        S
136              0      0    SC/PARIS 2133  15.0458   NaN        C
145              0      0           231945  11.5000   NaN        S
146              1      1       C.A. 33112  36.7500   NaN        S
149              0      2           230080  26.0000    F2        S
150              0      0           244310  13.0000   NaN        S
151              0      0      S.O.P. 1166  12.5250   NaN        S
...            ...    ...              ...      ...   ...      ...

In [31]:
result.loc[:, [("female", "C"), ("female", "S")]]

Sex      female
Embarked      C     S
Pclass
1          21.0  26.0
2           4.0  41.0
3          17.0  61.0

In [32]:
result.iloc[:, [0, 1]]

Sex      female
Embarked      C     S
Pclass
1          21.0  26.0
2           4.0  41.0
3          17.0  61.0

# DataFrame output

In [33]:
titanic[["SibSp", "Parch"]].head()

             SibSp  Parch
PassengerId
1                1      0
2                1      0
3                0      0
4                1      0
5                0      0

In [34]:
(titanic[titanic.Parch!=0].groupby(["Sex", "Embarked"])[["SibSp", "Parch"]]
        .mean())

                    SibSp     Parch
Sex    Embarked
female C         0.619048  1.380952
       Q         0.333333  2.666667
       S         1.304688  1.789062
male   C         0.562500  1.312500
       Q         3.500000  1.000000
       S         1.833333  1.677083

In [35]:
(class_groups
 .apply(lambda x: x[x.Parch!=0].groupby(["Sex", "Embarked"])[["SibSp", "Parch"]]
        .mean()))

                           SibSp     Parch
Pclass Sex    Embarked
1      female C         0.523810  1.285714
              S         0.807692  1.576923
       male   C         0.444444  1.388889
              S         0.875000  1.562500
2      female C         1.000000  1.750000
              S         0.682927  1.512195
       male   C         0.666667  1.666667
              S         0.869565  1.217391
3      female C         0.647059  1.411765
              Q         0.333333  2.666667
              S         1.934426  2.065574
       male   C         0.727273  1.090909
              Q         3.500000  1.000000
              S         2.491228  1.894737

## Mixing group keys

In [36]:
titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [40]:
?titanic.set_index

In [41]:
titanic_idx = titanic.reset_index().set_index((5 + 10*(titanic.Age//10)))

In [39]:
titanic_idx.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Age,,,,,,,,,,,,
25.0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
35.0,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
25.0,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
35.0,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
35.0,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
titanic_idx.groupby([pd.Grouper(level=0), "Pclass"]).Parch.mean()

In [ ]:
titanic_idx.groupby([titanic_idx.index, "Pclass"]).Parch.mean()

# pd.Grouper

In [ ]:
class_emb_groups = titanic.groupby([pd.Grouper("Embarked"), "Pclass"])

In [ ]:
class_emb_groups.size()

# Join operations

In [ ]:
a = pd.DataFrame(np.arange(8).reshape((4,2)),
                 columns=["a", "b"],
                 index=["a", "b", "a", "b"])
b = pd.DataFrame(10 + np.arange(4).reshape((4,-1)),
                 columns=["d"],
                 index=["d", "b", "c", "b"])

In [ ]:
print(a)
print(b)

In [ ]:
a.join(b) # default is left join

In [ ]:
a.join(b, how="inner")

In [ ]:
print(a)
print(b)

In [ ]:
a.join(b, how="right")

In [ ]:
a.join(b, how="outer", on="")

In [ ]:
c = pd.DataFrame(np.arange(8).reshape((4,2)),
                 columns=["a", "b"],
                 index=pd.MultiIndex.from_tuples([("a", "A"), ("b", "E"), ("a", "Y"), ("b", "R")], names=("lower", "upper")))

In [ ]:
c

In [ ]:
a.join?

In [ ]:
c.join(a[a.a<10], on="lower", rsuffix="_right")

In [82]:
titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [83]:
titanic.replace(re.compile(r'\s+\(.*\)'), '')

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath",female,35.0,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0.0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0.0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0.0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1.0,3,"Johnson, Mrs. Oscar W",female,27.0,0,2,347742,11.1333,NaN,S
10,1.0,2,"Nasser, Mrs. Nicholas",female,14.0,1,0,237736,30.0708,NaN,C
11,1.0,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1.0,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0.0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0.0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0.0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1.0,2,"Hewlett, Mrs.",female,55.0,0,0,248706,16.0000,NaN,S
17,0.0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,1.0,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0.0,3,"Vander Planke, Mrs. Julius",female,31.0,1,0,345763,18.0000,NaN,S
20,1.0,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
21,0.0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
22,1.0,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,1.0,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,1.0,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
25,0.0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,1.0,3,"Asplund, Mrs. Carl Oscar",female,38.0,1,5,347077,31.3875,NaN,S
27,0.0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,0.0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,1.0,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
30,0.0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
1280,NaN,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
1281,NaN,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
1282,NaN,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
1283,NaN,1,"Lines, Mrs. Ernest H",female,51.0,0,1,PC 17592,39.4000,D28,S
1284,NaN,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
1285,NaN,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
1286,NaN,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
1287,NaN,1,"Smith, Mrs. Lucien Philip",female,18.0,1,0,13695,60.0000,C31,S
1288,NaN,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
1289,NaN,1,"Frolicher-Stehli, Mrs. Maxmillian",female,48.0,1,1,13567,79.2000,B41,C
1290,NaN,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
1291,NaN,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
1292,NaN,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
1293,NaN,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
1294,NaN,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
1295,NaN,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
1296,NaN,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
1297,NaN,2,"Nourney, Mr. Alfred""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
1298,NaN,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
1299,NaN,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
1300,NaN,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
1301,NaN,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
1302,NaN,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
1303,NaN,1,"Minahan, Mrs. William Edward",female,37.0,1,0,19928,90.0000,C78,Q
1304,NaN,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [89]:
family_names = (titanic
                .replace(re.compile(r'\s+\(.*\)'), '')
                .replace(re.compile("Mrs."), "Mr."))[["Name", "Sex"]]

In [90]:
titanic.head(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [91]:
family_names.head()

                                    Name     Sex
PassengerId
1                Braund, Mr. Owen Harris    male
2              Cumings, Mr. John Bradley  female
3                 Heikkinen, Miss. Laina  female
4            Futrelle, Mr. Jacques Heath  female
5               Allen, Mr. William Henry    male

In [92]:
family_names = family_names[(family_names.Sex=="female") & family_names.Name.str.contains("Mr.")]

In [93]:
family_names.head()

                                    Name     Sex
PassengerId
2              Cumings, Mr. John Bradley  female
4            Futrelle, Mr. Jacques Heath  female
9                   Johnson, Mr. Oscar W  female
10                  Nasser, Mr. Nicholas  female
16                         Hewlett, Mr.   female

In [94]:
family_names.reset_index().set_index("Name")#["PassengerId"]

                                       PassengerId     Sex
Name
Cumings, Mr. John Bradley                        2  female
Futrelle, Mr. Jacques Heath                      4  female
Johnson, Mr. Oscar W                             9  female
Nasser, Mr. Nicholas                            10  female
Hewlett, Mr.                                    16  female
Vander Planke, Mr. Julius                       19  female
Masselmani, Mr. Fatima                          20  female
Asplund, Mr. Carl Oscar                         26  female
Spencer, Mr. William Augustus                   32  female
Ahlin, Mr. Johan                                41  female
Turpin, Mr. William John Robert                 42  female
Arnold-Franchi, Mr. Josef                       50  female
Harper, Mr. Henry Sleeper                       53  female
Faunthorpe, Mr. Lizzie                          54  female
Nye, Mr.                                        67  female
Backstrom, Mr. Karl Alfred                      86  female
Doling, Mr. John T                              99  female
Robins, Mr. Alexander A                        133  female
Weisz, Mr. Leopold                             134  female
Boulos, Mr. Joseph                             141  female
Hakkarainen, Mr. Pekka Pietari                 143  female
Pears, Mr. Thomas                              152  female
Watt, Mr. James                                162  female
Chibnall, Mr.                                  167  female
Skoog, Mr. William                             168  female
O'Brien, Mr. Thomas                            187  female
Pinsky, Mr.                                    191  female
Brown, Mr. James Joseph                        195  female
Harris, Mr. Henry Birkhardt                    231  female
Hamalainen, Mr. William                        248  female
...                                            ...     ...
Douglas, Mr. Walter Donald                    1131  female
Lindstrom, Mr. Carl Johan                     1132  female
Christy, Mr.                                  1133  female
Karnes, Mr. J Frank                           1138  female
Hold, Mr. Stephen                             1140  female
Khalil, Mr. Betros"                           1141  female
Wells, Mr. Arthur Henry"                      1154  female
Clark, Mr. Walter Miller                      1164  female
Crosby, Mr. Edward Gifford                    1197  female
Hansen, Mr. Claus Peter                       1201  female
White, Mr. John Stuart                        1206  female
Davies, Mr. John Morgan                       1222  female
Nakid, Mr. Said"                              1225  female
Cardeza, Mr. James Warburton Martinez         1235  female
Whabee, Mr. George Joseph                     1239  female
Greenfield, Mr. Leo David                     1242  female
Brown, Mr. John Murray                        1248  female
Lindell, Mr. Edvard Bengtsson                 1251  female
Mallet, Mr. Albert                            1253  female
Ware, Mr. John James                          1254  female
Harder, Mr. George Achilles                   1256  female
Sage, Mr. John                                1257  female
Gibson, Mr. Leonard                           1260  female
Dodge, Mr. Washington                         1266  female
Risien, Mr. Samuel                            1274  female
McNamee, Mr. Neal                             1275  female
Lines, Mr. Ernest H                           1283  female
Smith, Mr. Lucien Philip                      1287  female
Frolicher-Stehli, Mr. Maxmillian              1289  female
Minahan, Mr. William Edward                   1303  female

[197 rows x 2 columns]

In [95]:
titanic = (titanic.join(family_names
                        .reset_index()
                        .set_index("Name")["PassengerId"],
                        on="Name", rsuffix="_Spouse"))

In [96]:
titanic.head(25)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,PassengerId
PassengerId,,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,NaN
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,NaN
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN
6,0.0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,NaN
7,0.0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,NaN
8,0.0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,NaN
9,1.0,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,NaN
10,1.0,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,NaN
11,1.0,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,NaN
12,1.0,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,NaN
13,0.0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,NaN
14,0.0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,611.0
15,0.0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,NaN
16,1.0,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,NaN
17,0.0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,NaN
18,1.0,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,NaN
19,0.0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,NaN
20,1.0,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,NaN
21,0.0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,NaN
22,1.0,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,NaN
23,1.0,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,NaN
24,1.0,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,NaN
25,0.0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,NaN

In [97]:
titanic.rename({"PassengerId":"PassengerId_Spouse"}, axis=1, inplace=True)

In [98]:
titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,PassengerId_Spouse
PassengerId,,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,NaN
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,NaN
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN

In [ ]:
?titanic.join

In [99]:
titanic = titanic.join(titanic[["Name", "Age"]],
                       on="PassengerId_Spouse", rsuffix="_Spouse")

In [100]:
titanic

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,PassengerId_Spouse,Name_Spouse,Age_Spouse
PassengerId,,,,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,NaN,NaN
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,NaN,NaN,NaN
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN,NaN
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,NaN,NaN,NaN
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,NaN,NaN
6,0.0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,NaN,NaN,NaN
7,0.0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,NaN,NaN,NaN
8,0.0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,NaN,NaN,NaN
9,1.0,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,NaN,NaN,NaN
10,1.0,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,NaN,NaN,NaN
11,1.0,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,NaN,NaN,NaN
12,1.0,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,NaN,NaN,NaN
13,0.0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,NaN,NaN,NaN
14,0.0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,611.0,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",39.0
15,0.0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,NaN,NaN,NaN
16,1.0,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,NaN,NaN,NaN
17,0.0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,NaN,NaN,NaN
18,1.0,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,NaN,NaN,NaN
19,0.0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,NaN,NaN,NaN
20,1.0,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,NaN,NaN,NaN
21,0.0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,NaN,NaN,NaN
22,1.0,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,NaN,NaN,NaN
23,1.0,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,NaN,NaN,NaN
24,1.0,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,NaN,NaN,NaN
25,0.0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,NaN,NaN,NaN
26,1.0,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,NaN,NaN,NaN
27,0.0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,NaN,NaN,NaN
28,0.0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,NaN,NaN,NaN
29,1.0,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,NaN,NaN,NaN
30,0.0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280,NaN,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q,NaN,NaN,NaN
1281,NaN,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S,NaN,NaN,NaN
1282,NaN,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S,NaN,NaN,NaN
1283,NaN,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S,NaN,NaN,NaN
1284,NaN,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S,NaN,NaN,NaN
1285,NaN,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S,NaN,NaN,NaN
1286,NaN,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S,1057.0,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",26.0
1287,NaN,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S,NaN,NaN,NaN
1288,NaN,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q,NaN,NaN,NaN
1289,NaN,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C,NaN,NaN,NaN
1290,NaN,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S,NaN,NaN,NaN
1291,NaN,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q,NaN,NaN,NaN
1292,NaN,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S,NaN,NaN,NaN
1293,NaN,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S,NaN,NaN,NaN
1294,NaN,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C,NaN,NaN,NaN
1295,NaN,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S,NaN,NaN,NaN
1296,NaN,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C,NaN,NaN,NaN
1297,NaN,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C,NaN,NaN,NaN
1298,NaN,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S,NaN,NaN,NaN
1299,NaN,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,1110.0,"Widener, Mrs. George Dunton (Eleanor Elkins)",50.0
1300,NaN,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q,NaN,NaN,NaN
1301,NaN,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,NaN,NaN,NaN
1302,NaN,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q,NaN,NaN,NaN
1303,NaN,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,NaN,NaN,NaN
1304,NaN,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S,NaN,NaN,NaN
1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,NaN,NaN,NaN
1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,NaN,NaN,NaN
1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,NaN,NaN,NaN
1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,NaN,NaN,NaN
1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,NaN,NaN,NaN

In [101]:
(titanic[titanic.PassengerId_Spouse.notnull()]
 [["Pclass", "Name", "Age", "Name_Spouse", "Age_Spouse"]])

,Pclass,Name,Age,Name_Spouse,Age_Spouse
PassengerId,,,,,
14,3,"Andersson, Mr. Anders Johan",39.0,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",39.0
35,1,"Meyer, Mr. Edgar Joseph",28.0,"Meyer, Mrs. Edgar Joseph (Leila Saks)",NaN
36,1,"Holverson, Mr. Alexander Oskar",42.0,"Holverson, Mrs. Alexander Oskar (Mary Aline To...",35.0
63,1,"Harris, Mr. Henry Birkhardt",45.0,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",35.0
93,1,"Chaffee, Mr. Herbert Fuller",46.0,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",47.0
100,2,"Kantor, Mr. Sinai",34.0,"Kantor, Mrs. Sinai (Miriam Sternin)",24.0
118,2,"Turpin, Mr. William John Robert",29.0,"Turpin, Mrs. William John Robert (Dorothy Ann ...",27.0
123,2,"Nasser, Mr. Nicholas",32.5,"Nasser, Mrs. Nicholas (Adele Achem)",14.0
138,1,"Futrelle, Mr. Jacques Heath",37.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0
189,3,"Bourke, Mr. John",40.0,"Bourke, Mrs. John (Catherine)",32.0
207,3,"Backstrom, Mr. Karl Alfred",32.0,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",33.0
218,2,"Jacobsohn, Mr. Sidney Samuel",42.0,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",24.0
225,1,"Hoyt, Mr. Frederick Maxfield",38.0,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",35.0
237,2,"Hold, Mr. Stephen",44.0,"Hold, Mrs. Stephen (Annie Margaret Hill)",29.0
249,1,"Beckwith, Mr. Richard Leonard",37.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",47.0
254,3,"Lobb, Mr. William Arthur",30.0,"Lobb, Mrs. William Arthur (Cordelia K Stanlick)",26.0
263,1,"Taussig, Mr. Emil",52.0,"Taussig, Mrs. Emil (Tillie Mandelbaum)",39.0
309,2,"Abelson, Mr. Samuel",30.0,"Abelson, Mrs. Samuel (Hannah Wizosky)",28.0
315,2,"Hart, Mr. Benjamin",43.0,"Hart, Mrs. Benjamin (Esther Ada Bloomfield)",45.0
354,3,"Arnold-Franchi, Mr. Josef",25.0,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",18.0
362,2,"del Carlo, Mr. Sebastiano",29.0,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",24.0
365,3,"O'Brien, Mr. Thomas",NaN,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",NaN
371,1,"Harder, Mr. George Achilles",25.0,"Harder, Mrs. George Achilles (Dorothy Annan)",25.0
391,1,"Carter, Mr. William Ernest",36.0,"Carter, Mrs. William Ernest (Lucile Polk)",36.0
404,3,"Hakkarainen, Mr. Pekka Pietari",28.0,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",24.0
435,1,"Silvey, Mr. William Baird",50.0,"Silvey, Mrs. William Baird (Alice Munger)",39.0
439,1,"Fortune, Mr. Mark",64.0,"Fortune, Mrs. Mark (Mary McDougald)",60.0
451,2,"West, Mr. Edwy Arthur",36.0,"West, Mrs. Edwy Arthur (Ada Mary Worth)",33.0
454,1,"Goldenberg, Mr. Samuel L",49.0,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",NaN
477,2,"Renouf, Mr. Peter Henry",34.0,"Renouf, Mrs. Peter Henry (Lillian Jefferys)",30.0
...,...,...,...,...,...
899,2,"Caldwell, Mr. Albert Francis",26.0,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...",22.0
905,2,"Howard, Mr. Benjamin",63.0,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",60.0
912,1,"Rothschild, Mr. Martin",55.0,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",54.0
917,3,"Robins, Mr. Alexander A",50.0,"Robins, Mrs. Alexander A (Grace Charity Laury)",47.0
922,2,"Louch, Mr. Charles Alexander",50.0,"Louch, Mrs. Charles Alexander (Alice Adelaide ...",42.0
942,1,"Smith, Mr. Lucien Philip",24.0,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",18.0
950,3,"Davison, Mr. Thomas Henry",NaN,"Davison, Mrs. Thomas Henry (Mary E Finck)",NaN
973,1,"Straus, Mr. Isidor",67.0,"Straus, Mrs. Isidor (Rosalie Ida Blun)",63.0
993,2,"Weisz, Mr. Leopold",27.0,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",29.0
1034,1,"Ryerson, Mr. Arthur Larned",61.0,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",48.0
1037,3,"Vander Planke, Mr. Julius",31.0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",31.0
1064,3,"Dyker, Mr. Adolf Fredrik",23.0,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...",22.0
1069,1,"Stengel, Mr. Charles Emil Henry",54.0,"Stengel, Mrs. Charles Emil Henry (Annie May Mo...",43.0
1082,2,"Angle, Mr. William A",34.0,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",36.0
1109,1,"Wick, Mr. George Dennick",57.0,"Wick, Mrs. George Dennick (Mary Hitchcock)",45.0
1126,1,"Cumings, Mr. John Bradley",39.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0
1128,1,"Warren, Mr. Frank Manley",64.0,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",60.0
1134,1,"Spedden, Mr. Frederic Oakley",45.0,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",40.0
1137,1,"Kenyon, Mr. Frederick R",41.0,"Kenyon, Mrs. Frederick R (Marion)",NaN
1139,2,"Drew, Mr. James Vivian",42.0,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",34.0
1144,1,"Clark, Mr. Walter Miller",27.0,"Clark, Mrs. Walter Miller (Virginia McDowell)",26.0
1152,3,"de Messemaeker, Mr. Guillaume Joseph",36.5,"de Messemaeker, Mrs. Guillaume Joseph (Emma)",36.0
1170,2,"Ware, Mr. John James",30.0,"Ware, Mrs. John James (Florence Louise Long)",31.0
1179,1,"Snyder, Mr. John Pillsbury",24.0,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",23.0
1200,1,"Hays, Mr. Charles Melville",55.0,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",52.0
1208,1,"Spencer, Mr. William Augustus",57.0,"Spencer, Mrs. William Augustus (Marie Eugenie)",NaN
1245,2,"Herman, Mr. Samuel",49.0,"Herman, Mrs. Samuel (Jane Laver)",48.0
1258,3,"Caram, Mr. Joseph",NaN,"Caram, Mrs. Joseph (Maria Elias)",NaN
1286,3,"Kink-Heilmann, Mr. Anton",29.0,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",26.0
1299,1,"Widener, Mr. George Dunton",50.0,"Widener, Mrs. George Dunton (Eleanor Elkins)",50.0

In [102]:
titanic.Pclass.value_counts()

3    709
1    323
2    277
Name: Pclass, dtype: int64

In [103]:
titanic[titanic.PassengerId_Spouse.notnull()].groupby("Pclass").size()

Pclass
1    41
2    23
3    22
dtype: int64

In [104]:
titanic.Age - titanic.Age_Spouse

PassengerId
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      0.0
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
30      NaN
       ...
1280    NaN
1281    NaN
1282    NaN
1283    NaN
1284    NaN
1285    NaN
1286    3.0
1287    NaN
1288    NaN
1289    NaN
1290    NaN
1291    NaN
1292    NaN
1293    NaN
1294    NaN
1295    NaN
1296    NaN
1297    NaN
1298    NaN
1299    0.0
1300    NaN
1301    NaN
1302    NaN
1303    NaN
1304    NaN
1305    NaN
1306    NaN
1307    NaN
1308    NaN
1309    NaN
Length: 1309, dtype: float64

In [105]:
(titanic.Age - titanic.Age_Spouse).groupby(titanic.Pclass).agg(["min", "max", "mean", "std", "count"])

         min   max      mean       std  count
Pclass
1      -40.0  14.0  2.805556  9.211234     36
2       -2.0  20.0  6.195652  6.793612     23
3       -4.0  12.0  3.472222  3.798112     18

In [106]:
titanic.loc[742]

Survived                                                              0
Pclass                                                                1
Name                                      Cavendish, Mr. Tyrell William
Sex                                                                male
Age                                                                  36
SibSp                                                                 1
Parch                                                                 0
Ticket                                                            19877
Fare                                                              78.85
Cabin                                                               C46
Embarked                                                              S
PassengerId_Spouse                                                  988
Name_Spouse           Cavendish, Mrs. Tyrell William (Julia Florence...
Age_Spouse                                                           76
Name: 742, dtype: object

In [107]:
(titanic.Age - titanic.Age_Spouse).sort_values()

PassengerId
742    -40.0
249    -10.0
725     -6.0
861     -4.0
622     -3.0
1082    -2.0
993     -2.0
315     -2.0
1170    -1.0
93      -1.0
207     -1.0
646     -1.0
1037     0.0
638      0.0
391      0.0
371      0.0
14       0.0
1299     0.0
1152     0.5
1245     1.0
1179     1.0
1144     1.0
1126     1.0
1064     1.0
912      1.0
749      1.0
506      1.0
118      2.0
309      2.0
549      2.0
        ...
1278     NaN
1279     NaN
1280     NaN
1281     NaN
1282     NaN
1283     NaN
1284     NaN
1285     NaN
1287     NaN
1288     NaN
1289     NaN
1290     NaN
1291     NaN
1292     NaN
1293     NaN
1294     NaN
1295     NaN
1296     NaN
1297     NaN
1298     NaN
1300     NaN
1301     NaN
1302     NaN
1303     NaN
1304     NaN
1305     NaN
1306     NaN
1307     NaN
1308     NaN
1309     NaN
Length: 1309, dtype: float64

In [108]:
FTS_COLS = titanic.columns[1:-3].tolist()
FTS_COLS.remove("Cabin")

In [109]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 14 columns):
Survived              891 non-null float64
Pclass                1309 non-null int64
Name                  1309 non-null object
Sex                   1309 non-null object
Age                   1046 non-null float64
SibSp                 1309 non-null int64
Parch                 1309 non-null int64
Ticket                1309 non-null object
Fare                  1308 non-null float64
Cabin                 295 non-null object
Embarked              1307 non-null object
PassengerId_Spouse    86 non-null float64
Name_Spouse           86 non-null object
Age_Spouse            77 non-null float64
dtypes: float64(5), int64(3), object(6)
memory usage: 193.4+ KB

In [110]:
titanic[FTS_COLS].isnull().any(axis=1).sum()

266

In [111]:
titanic[(titanic.Age - titanic.Age_Spouse)<0][["Pclass", "Name", "Age", "Name_Spouse", "Age_Spouse"]]

,Pclass,Name,Age,Name_Spouse,Age_Spouse
PassengerId,,,,,
93,1,"Chaffee, Mr. Herbert Fuller",46.0,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",47.0
207,3,"Backstrom, Mr. Karl Alfred",32.0,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",33.0
249,1,"Beckwith, Mr. Richard Leonard",37.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",47.0
315,2,"Hart, Mr. Benjamin",43.0,"Hart, Mrs. Benjamin (Esther Ada Bloomfield)",45.0
622,1,"Kimball, Mr. Edwin Nelson Jr",42.0,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",45.0
646,1,"Harper, Mr. Henry Sleeper",48.0,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",49.0
725,1,"Chambers, Mr. Norman Campbell",27.0,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",33.0
742,1,"Cavendish, Mr. Tyrell William",36.0,"Cavendish, Mrs. Tyrell William (Julia Florence...",76.0
861,3,"Hansen, Mr. Claus Peter",41.0,"Hansen, Mrs. Claus Peter (Jennie L Howard)",45.0
993,2,"Weisz, Mr. Leopold",27.0,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",29.0
1082,2,"Angle, Mr. William A",34.0,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",36.0
1170,2,"Ware, Mr. John James",30.0,"Ware, Mrs. John James (Florence Louise Long)",31.0